*{
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Microsoft Yahei",sans-serif;
}
*:focus {
  outline: none;
}
html, body {
  height: 100%;
  width: 100%;
}
.fillcontainer {
  width: 100%;
  height: 100%;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}